.menu-div{
	background-image: url("../assets/images/unsplash_ScCZTD4qtEI.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.menu-nav button{
	width: 30%;
	padding: 20px;
	background-color: #8DA253;
	margin: 10px;
	transition: all 0.5s;
	border: 2px solid hsla(77, 60%, 20%, 0.5)

}
.menu-nav button:hover{
	background-color: #B93324;
	color: white;
}
.menu-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.menu-item-div{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.icon-shop{
	background-color: antiquewhite;
	border-radius: 100%;
	position: absolute;
	top: 170px;
	left: 50px;
	font-size: 25px;
	padding: 15px;
}
@media screen and (max-width:1000px) {
	
	.menu-item-div{
		display: grid;
		grid-template-columns: 1fr ;
	}
}
@media screen and (max-width:750px){
	.icon-shop{
		left: 10px;
		font-size: 20px;
		padding: 10px;
	}
}

@media screen and (max-width:400px){
	.icon-shop{
		top: 410px;
	}
}

.basket{
	top: 4px;
	
	position: absolute;
	border: 2px solid red;
	border-radius: 100%;
padding: 5px;
color: black;
}